.line {
    height: 6px;
    background-color: black;
    width: 200px;
    margin: 8px auto;
}
body {
    text-align: center;
}
#header {
    background-color: burlywood;
    color: black;
    font-family: cursive;
}
h1 {
    color: cadetblue !important;
    font-family: cursive;
}
img {
    height: 200px;
}
#main {
    background-color: blueviolet;
}
.contact_1 a{
    color: white;
    text-shadow: none;
}
.contact_1 h3 {
    display: inline;
}
